<footer class="footer-area footer-bg">
    <div class="container">
        <div class="footer-top pt-80 pb-50">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img style="border-radius: 10px;" src="assets/images/logos/footer-logo.png"
                                    width="50px" alt="Images">
                            </a>
                        </div>
                        <p>
                            E- Customer Services are successfully run all orver India. ECS give Best Digital
                            Service all
                            over Odisha...
                        </p>
                        <div class="footer-call-content">
                            <h3>Talk to Our Support</h3>
                            <span><a href="tel:+1002-123-4567">+91 212-255-5511</a></span>
                            <i class='bx bx-headphone'></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget pl-2">
                        <h3>INFORMATION</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Services
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    User
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Team Of ECS </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Term Of Use
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget pl-2">
                        <h3>ECS SERVICES</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Aadhar Card
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Pan Card
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Voter Id Card
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Jeeban Praman
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class='bx bx-chevron-right'></i>
                                    Aavash Yojana
                                </a>
                            </li>
                            <li>
                                <a href="" target="#">
                                    <i class='bx bx-chevron-right'></i>
                                    View More
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-2">
                        <h3>CONTACT</h3>
                        <ul class="footer-list">
                            <address>
                                <P>Bhubaneswar, Odisha, India</P>

                                <P>Phone: (+91) 7751867676, 9776847676, 9337485262</P>

                                <P>Website: www.ecustomerservices.in</P>

                                <P>Email: ecustomerservices2023@gmail.com, info@ecustomerservices.in</P>
                            </address>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right-area">
            <div class="copy-right-text ">
                <p>
                    Copyright ©
                    <script>document.write(new Date().getFullYear())</script> All Rights Reserved by @ECS
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/jquery.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/owl.carousel.min.js"></script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>

<script src="assets/js/jquery.nice-select.min.js"></script>

<script src="assets/js/wow.min.js"></script>

<script src="assets/js/meanmenu.js"></script>

<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<script src="assets/js/form-validator.min.js"></script>

<script src="assets/js/contact-form-script.js"></script>

<script src="assets/js/custom.js"></script>
</body>

</html>