

<% if( user !== true){ %>
    <%- include('partials/loginHeader') %>
    <% } else { %>
    <%- include('partials/logoutHeader') %>
    <% } %>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>About Us</h3>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <i class='bx bx-chevrons-right'></i>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <div class="inner-shape">
        <img src="assets/images/shape/inner-shape.png" alt="Images">
    </div>
</div>



<div class="security-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="p-4">Welcome to E-Customer Services</h2>
            <span>E-Customer Services Give Total Digital Services Solutions In Your Hand (All Type Of Goverment Certificates, All Type Of Insurance, All Type Of Goverment Jobs etc) 

                E-Customer Services, has delved into bridging the digital divide between urban and rural India. E-Customer has taken a phenomenal initiative to make information and knowledge reach all corners of the country. Recognizing the Hon'ble Prime Minister, Shri Narendra Damodardas Modi's vision of a rural India that goes hand in hand with its urban counterpart in having unlimited access to all Government services, ECS has embarked upon a mammoth e-Governance Project. 
             </span>
        </div>
        <div class="row pt-45">
            <div class="col-lg-4 col-sm-6">
                <div class="security-card">
                    <i class="flaticon-cyber-security"></i>
                    <h3><a href="#">ECS Officer Application</a></h3>
                    <p>For Jana Seva Kendra Services, Apply Online through our website, more call to our ... </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="security-card">
                    <i class="flaticon-consulting"></i>
                    <h3><a href="case-details.html">Appointment of ECS Officer</a></h3>
                    <p>All ECS Officer appointed will be purely on commission basis, Other ...</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="security-card">
                    <i class="flaticon-consultant"></i>
                    <h3><a href="case-details.html">ECS Other Services</a></h3>
                    <p>We are provided Pan Card, Voter Id Card, Aadhar Card and other services ...</p>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="counter-area pt-1 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color2">Numbers Are Talking</span>
            <h2>Let’s Check Our Business Growth and Success Story</h2>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
                elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris Morbi accumsan ipsum velit.
            </p>
        </div>
        <div class="row pt-45">
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-web-development"></i>
                    <h3>4205+</h3>
                    <span>Delivered Goods</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-consulting-1"></i>
                    <h3>245+</h3>
                    <span>IT Consulting</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-startup"></i>
                    <h3>3550+</h3>
                    <span>Fully Launched</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-tick"></i>
                    <h3>6545+</h3>
                    <span>Project Completed</span>
                </div>
            </div>
        </div>
    </div>
    <div class="counter-shape">
        <div class="shape1">
            <img src="assets/images/shape/shape1.png" alt="Images">
        </div>
        <div class="shape2">
            <img src="assets/images/shape/shape2.png" alt="Images">
        </div>
    </div>
</div>

<%- include('partials/footer') %>