
<% if( user !== true){ %>
    <%- include('partials/loginHeader') %>
    <% } else { %>
    <%- include('partials/logoutHeader') %>
    <% } %>




<div class="banner-slider-area ">
    <div class="banner-slider owl-carousel  owl-theme">
        <div class="banner-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container view">
                        <div class="banner-item-content ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item item-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container view">
                        <div class="banner-item-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container view">
                        <div class="banner-item-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="about-content mr-20">
                    <div class="section-title">
                        <h2>About</h2>
                        <p>
                            Common Services Center Scheme are a startegic cornerstone of the Digital India
                            programme. They are the access points for delivery of various electronics service to
                            villages in india... <a href="/about">Read More</a>

                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <div class="about-content-card">
                                <!-- <i class="flaticon-practice"></i>
                                <h3>Experience</h3>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="about-content-card">
                                <!-- <i class="flaticon-help"></i>
                                <h3>Quick Support</h3>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/images/logos/zyro-image (1).png" alt="About Images">
                    <!-- <div class="sub-content"> -->
                        <!-- <img src="assets/images/about/about-img2.jpg" alt="About Images">
                        <div class="content"> -->
                            <!-- <h3>4.5k</h3>
                            <span>Satisfied Clients</span> -->
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color1">Our Services</span>
            <h2>We Provide a Wide Variety of Customer Services</h2>
            <p class="margin-auto">
                E- Customer Services, has delved into bridging the digital divide between urban and rural India.  ECS has taken a phenomenal initiative to make information and knowledge reach all corners of the country. Recognizing the Hon'ble Prime Minister, Shri Narendra Damodardas Modi's vision of a rural India that goes hand in hand with its urban counterpart in having unlimited access to all Government services, ECS has embarked upon a mammoth e-Governance Project. ECS has taken up the establishment of Common Service Centres that were identified as one of the 4 pillars of the NeGP of the Government of India.
            </p>
        </div>
        <div class="row pt-45">
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    <!-- <i class="flaticon-consultant"></i> -->
                    <h3><a href="service-details.html">Aadhar Card Services</a></h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendauctor
                        nisi el. </p>
                    <a href="service-details.html" class="learn-btn">Learn More <i
                            class='bx bx-chevron-right'></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    <!-- <i class="flaticon-consulting"></i> -->
                    <h3><a href="service-details.html">Pan Card Services</a></h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendauctor
                        nisi el. </p>
                    <a href="service-details.html" class="learn-btn">Learn More <i
                            class='bx bx-chevron-right'></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    <!-- <i class="flaticon-web-development"></i> -->
                    <h3><a href="service-details.html">All Type Insurance</a></h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendauctor
                        nisi el. </p>
                    <a href="service-details.html" class="learn-btn">Learn More <i
                            class='bx bx-chevron-right'></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    <!-- <i class="flaticon-stats"></i> -->
                    <h3><a href="service-details.html">Passport Seva</a></h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendauctor
                        nisi el. </p>
                    <a href="service-details.html" class="learn-btn">Learn More <i
                            class='bx bx-chevron-right'></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="service-shape">
        <img src="assets/images/shape/service-shape1.png" alt="Images">
    </div>
</section>



<div class="call-us-area mt-5 text-dark">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="call-contact text-dark">
                    <h3>Call Us 24/7</h3>
                    <a href="tel:+91 212-255-5511" class="call-btn">+91 212-255-5511</a>
                    <p>CSC E-Governance Services India Limited
                        Ministry of Electronics & Information Technology
                        Government of India.</p>
                    <a href="/contact" class="default-btn btn-bg-two border-radius-5">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="call-us-img">
                    <!-- <img src="assets/images/call-us/call-us-img1.png" alt="Images"> -->
                    <img src="/assets/images/logos/pngegg.png" alt="Images">

                    <div class="call-shape">
                        <div class="shape1">
                            <!-- <img src="assets/images/call-us/call-shap2.png" alt="Images"> -->
                        </div>
                        <div class="shape2 shape2-rs">
                            <!-- <img src="assets/images/call-us/call-shap3.png" alt="Images"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="a" class="clients-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color2">Testimonials</span>
            <h2>Our Clients Feedback</h2>
        </div>
        <div class="clients-slider owl-carousel owl-theme pt-45">
            <div class="clients-content">
                <div class="content">
                    <img src="assets/images/clients-img/clients-img1.jpg" alt="Images">
                    <i class='bx bxs-quote-alt-left'></i>
                    <h3>Jonthon Martin</h3>
                    <span>App Developer</span>
                </div>
                <p>
                    “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum, nec sagittis.
                    sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren
                    accumsan ipsum velit.”
                </p>
            </div>
            <div class="clients-content">
                <div class="content">
                    <img src="assets/images/clients-img/clients-img2.jpg" alt="Images">
                    <i class='bx bxs-quote-alt-left'></i>
                    <h3>Alin Decros</h3>
                    <span>Graphic Designer</span>
                </div>
                <p>
                    “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum, nec sagittis.
                    sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren
                    accumsan ipsum velit.”
                </p>
            </div>
            <div class="clients-content">
                <div class="content">
                    <img src="assets/images/clients-img/clients-img3.jpg" alt="Images">
                    <i class='bx bxs-quote-alt-left'></i>
                    <h3>Elen Musk</h3>
                    <span>Web Developer</span>
                </div>
                <p>
                    “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum, nec sagittis.
                    sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren
                    accumsan ipsum velit.”
                </p>
            </div>
        </div>
    </div>
    <div class="client-circle">
        <div class="client-circle-1">
            <div class="circle"></div>
        </div>
        <div class="client-circle-2">
            <div class="circle"></div>
        </div>
        <div class="client-circle-3">
            <div class="circle"></div>
        </div>
        <div class="client-circle-4">
            <div class="circle"></div>
        </div>
        <div class="client-circle-5">
            <div class="circle"></div>
        </div>
        <div class="client-circle-6">
            <div class="circle"></div>
        </div>
        <div class="client-circle-7">
            <div class="circle"></div>
        </div>
    </div>
</section>

<div class="blog-area pt-100">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color2">Latest video</span>
            <h2>Let’s Check Some Latest video</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <iframe width="365" height="250" src="https://www.youtube.com/embed/gmt9EYEIMns"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Digital India- E Governance</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <iframe width="365" height="250" src="https://www.youtube.com/embed/UG8FXP3vwDE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Make In INDIA Explained</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="blog-card">
                    <div class="blog-img">
                        <iframe width="365" height="250" src="https://www.youtube.com/embed/Te9CpmdrUpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Income TAX Return </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>